<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img id="about-img" src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>About Us</h3>
          <p class="font-italic">
            {{aboutInfo}}
          </p>
          <ul>
            <li *ngFor="let bp of aboutBullets">
                <i class="icofont-check-circled"></i> 
                {{bp}}
            </li>
          </ul>
          <p class="font-italic">
            {{aboutSupply}}
          </p>
        </div>
      </div>

    </div>
  </section>